{% extends 'tictactoe/base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
<h1>Список игр</h1>
<a href="{% url 'new_game' %}"><button>Начать новую игру</button></a>

<table>
    <tr><th>Игрок X</th><th>Игрок O</th><th>Статус</th><th>Действие</th></tr>
    {% for game in games %}
    <tr>
        <td>{{ game.player_x }}</td>
        <td>{{ game.player_o }}</td>
        <td>
            {% if game.winner %}
                {% if game.winner == "D" %}Ничья{% else %}{{ game.winner }} победил{% endif %}
            {% else %}
                В процессе ({{ game.current_turn }})
            {% endif %}
        </td>
        <td><a href="{% url 'play_game' game.id %}">Играть</a></td>
    </tr>
    {% empty %}
    <tr><td colspan="4">Пока нет игр</td></tr>
    {% endfor %}
</table>
{% endblock %}
